<div class="delivery-page">
  <section class="delivery-banner" [ngStyle]="{backgroundImage: 'url(' + bannerData.bgImageSrc + ')'}">
    <h1>{{bannerData.title}}</h1>
  </section>

  <section class="delivery-terms container">
    <h2>Delivery Terms and Conditions</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas id perferendis asperiores quos eum nisi vero
      repudiandae!
      Ipsam excepturi, facere libero, animi quasi saepe adipisci quidem ea iste vero numquam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam distinctio quos dolor perferendis aut vitae
      sapiente impedit
      atque ipsam velit harum perspiciatis laboriosam vel libero reprehenderit excepturi ab, amet quasi voluptas
      architecto, eveniet
      facilis culpa dolorem. Porro atque aut numquam, voluptate modi nobis placeat minima doloremque delectus laborum,
      assumenda eaque
      illum eveniet fugit beatae. Quidem quam pariatur, perferendis aspernatur est illum sequi magnam, esse tempora
      dolorem eligendi
      voluptate saepe ut distinctio. Necessitatibus aperiam ducimus molestias deleniti quas veniam cupiditate hic id a
      blanditiis,
      mollitia assumenda cum nesciunt perspiciatis temporibus voluptates eligendi similique et quam itaque eveniet
      sapiente quisquam
      omnis. Asperiores.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id ipsa vitae. Quas delectus facilis debitis
      praesentium,
      provident atque architecto magnam optio perspiciatis! Odit repellendus natus nulla unde expedita laboriosam, quis
      dignissimos
      dicta molestiae reprehenderit sint sequi maxime eius. Aperiam assumenda non corporis sunt, impedit mollitia eum
      consectetur
      adipisci excepturi.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas id perferendis asperiores quos eum nisi vero
      repudiandae!
      Ipsam excepturi, facere libero, animi quasi saepe adipisci quidem ea iste vero numquam!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex necessitatibus facilis expedita sed possimus quis
      molestias?
      Minima non saepe est quasi? Quas placeat doloribus earum nam ab quisquam minima impedit a illo sapiente.
      Molestiae repellendus
      exercitationem aliquid ipsa voluptatum provident, inventore minima voluptate eos. Distinctio unde impedit,
      dignissimos dolorem
      eius provident reiciendis suscipit at doloremque voluptatibus expedita quod eveniet soluta ipsam tempora totam
      modi placeat
      deleniti quo aperiam nam nisi exercitationem beatae iusto. Optio labore architecto fugiat illo, eligendi
      accusamus ullam porro
      sequi amet dolores dolor quo placeat. Laudantium non nulla labore, quam quisquam ullam ex tempora nostrum magnam
      fugiat
      perspiciatis commodi debitis nesciunt impedit consequatur pariatur id? Sunt dignissimos cumque odio a impedit
      voluptates quas
      consequatur mollitia ea quo cum, ipsa distinctio ipsum nostrum excepturi eius placeat cupiditate temporibus in
      dolor dolore.
      Vel tenetur consequuntur, quam hic ullam vitae asperiores aut quo, ipsum reprehenderit, illum iusto itaque? Quia
      minus
      veniam hic placeat iure vel nisi. Quidem impedit adipisci non voluptatibus. Ipsam, ea. Fugiat a at, cupiditate
      totam
      reiciendis exercitationem ipsam? Delectus consectetur asperiores maxime, est eum, repellat pariatur assumenda
      aspernatur
      soluta voluptatum ipsa voluptate dignissimos velit error obcaecati. A sequi incidunt nihil, saepe similique quae
      maxime,
      cupiditate deleniti omnis autem numquam eum. Omnis maiores provident officia veritatis consequatur placeat error
      fugit odit
      esse tenetur aliquid, cum repellat, repellendus fuga illum expedita excepturi quasi rem nemo modi? Deleniti eius
      nulla quos.
      Dolore eos, quo quos soluta suscipit veniam ratione ea quia, rerum culpa blanditiis ullam iure illo consequuntur
      cupiditate
      mollitia. Aliquid doloremque tenetur, praesentium similique placeat necessitatibus eaque dignissimos accusamus
      ut!
      Voluptatibus reiciendis doloribus ut ducimus, iste quas minima accusamus possimus odio rem nam sapiente molestias
      aliquid
      omnis porro aperiam laboriosam illum, quia doloremque et, quasi cumque fugiat! Provident deleniti quibusdam
      quisquam aut,
      consectetur obcaecati laudantium hic doloribus recusandae accusantium.</p>
  </section>

  <section class="payment-terms container">
      <h2>Payment Terms and Conditions</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas id perferendis asperiores quos eum nisi vero
        repudiandae!
        Ipsam excepturi, facere libero, animi quasi saepe adipisci quidem ea iste vero numquam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam distinctio quos dolor perferendis aut vitae
        sapiente impedit
        atque ipsam velit harum perspiciatis laboriosam vel libero reprehenderit excepturi ab, amet quasi voluptas
        architecto, eveniet
        facilis culpa dolorem. Porro atque aut numquam, voluptate modi nobis placeat minima doloremque delectus laborum,
        assumenda eaque
        illum eveniet fugit beatae. Quidem quam pariatur, perferendis aspernatur est illum sequi magnam, esse tempora
        dolorem eligendi
        voluptate saepe ut distinctio. Necessitatibus aperiam ducimus molestias deleniti quas veniam cupiditate hic id a
        blanditiis,
        mollitia assumenda cum nesciunt perspiciatis temporibus voluptates eligendi similique et quam itaque eveniet
        sapiente quisquam
        omnis. Asperiores.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id ipsa vitae. Quas delectus facilis debitis
        praesentium,
        provident atque architecto magnam optio perspiciatis! Odit repellendus natus nulla unde expedita laboriosam, quis
        dignissimos
        dicta molestiae reprehenderit sint sequi maxime eius. Aperiam assumenda non corporis sunt, impedit mollitia eum
        consectetur
        adipisci excepturi.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas id perferendis asperiores quos eum nisi vero
        repudiandae!
        Ipsam excepturi, facere libero, animi quasi saepe adipisci quidem ea iste vero numquam!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex necessitatibus facilis expedita sed possimus quis
        molestias?
        Minima non saepe est quasi? Quas placeat doloribus earum nam ab quisquam minima impedit a illo sapiente.
        Molestiae repellendus
        exercitationem aliquid ipsa voluptatum provident, inventore minima voluptate eos. Distinctio unde impedit,
        dignissimos dolorem
        eius provident reiciendis suscipit at doloremque voluptatibus expedita quod eveniet soluta ipsam tempora totam
        modi placeat
        deleniti quo aperiam nam nisi exercitationem beatae iusto. Optio labore architecto fugiat illo, eligendi
        accusamus ullam porro
        sequi amet dolores dolor quo placeat. Laudantium non nulla labore, quam quisquam ullam ex tempora nostrum magnam
        fugiat
        perspiciatis commodi debitis nesciunt impedit consequatur pariatur id? Sunt dignissimos cumque odio a impedit
        voluptates quas
        consequatur mollitia ea quo cum, ipsa distinctio ipsum nostrum excepturi eius placeat cupiditate temporibus in
        dolor dolore.
        Vel tenetur consequuntur, quam hic ullam vitae asperiores aut quo, ipsum reprehenderit, illum iusto itaque? Quia
        minus
        veniam hic placeat iure vel nisi. Quidem impedit adipisci non voluptatibus. Ipsam, ea. Fugiat a at, cupiditate
        totam
        reiciendis exercitationem ipsam? Delectus consectetur asperiores maxime, est eum, repellat pariatur assumenda
        aspernatur
        soluta voluptatum ipsa voluptate dignissimos velit error obcaecati. A sequi incidunt nihil, saepe similique quae
        maxime,
        cupiditate deleniti omnis autem numquam eum. Omnis maiores provident officia veritatis consequatur placeat error
        fugit odit
        esse tenetur aliquid, cum repellat, repellendus fuga illum expedita excepturi quasi rem nemo modi? Deleniti eius
        nulla quos.
        Dolore eos, quo quos soluta suscipit veniam ratione ea quia, rerum culpa blanditiis ullam iure illo consequuntur
        cupiditate
        mollitia. Aliquid doloremque tenetur, praesentium similique placeat necessitatibus eaque dignissimos accusamus
        ut!
        Voluptatibus reiciendis doloribus ut ducimus, iste quas minima accusamus possimus odio rem nam sapiente molestias
        aliquid
        omnis porro aperiam laboriosam illum, quia doloremque et, quasi cumque fugiat! Provident deleniti quibusdam
        quisquam aut,
        consectetur obcaecati laudantium hic doloribus recusandae accusantium.</p>
  </section>
</div>