<div class="footer">
  <div class="container">
    <div class="footer-logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="">
      </a>
    </div>
    <div class="footer-links">
      <div>
        <h5>Useful Links</h5>
        <ul>
          <li>
            <a routerLink="/delivery">Delivery and Payment</a>
          <li>
            <a routerLink="/privacy">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div>
        <h5>Learn More</h5>
        <ul>
          <li>
            <a routerLink="/about">About Us</a>
          <li>
            <a routerLink="/contacts">Contacts</a>
          </li>
        </ul>
      </div>

      <div>
        <h5>Follow Us</h5>
        <ul>
          <li>
            <a href="">Twitter</a>
          </li>
          <li>
            <a href="">Instagram</a>
          </li>
          <li>
            <a href="">Facebook</a>
          </li>
          <li>
            <a href="">YouTube</a>
          </li>
          <li>
            <a href="">Pinterest</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-bottom">
    <p>
      <a routerLink="/privacy">Privacy Policy</a>
      / © 2018 / All Rights Reserved
    </p>
  </div>
</div>