<div class="about-page">
  <section class="about-banner" [ngStyle]="{backgroundImage: 'url(' + bannerData.bgImageSrc + ')'}">
    <h1>{{bannerData.title}}</h1>
  </section>

  <div class="about-sections container">
    <section *ngFor="let section of sectionsData" class="about-section">
      <div class="about-section__image-wrapper">
          <div class="about-section__image">
              <img [src]="section.image" [alt]="section.title">
            </div>
      </div>
      
      <div class="about-section__text">
        <h2>{{section.title}}</h2>
        <p>{{section.text}}</p>
      </div>
    </section>
  </div>

  
</div>
